/*-------------------------------------------------*/
/* =  11.Magnific popup
/*-------------------------------------------------*/

button {
    &.mfp-close {
        background-color: $secondary-color !important;
        color: white;
        transition: background-color .4s ease;

        &:hover {
            background-color: $primary-color !important;
            transition: background-color .4s ease;
        }
    }
}