@import 'variables';

.top-bar {
    height: 36px;
    background-color: $secondary-color-light;
}

a:focus, a:active, a:visited {
  outline: none;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: right;
  }

  .navbar-nav>li>a {
    padding-top: 7px;
    padding-bottom: 9px;
  }
}


.top-bar--widgets {

  a {
    color: $light-background;
    text-transform: uppercase;
    font-size: 0.89em;
  }

  .nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent;
    color: $primary-color;
  }

  .dropdown-menu {
    background-color: $secondary-color-light;
    border: 0;
    border-radius: 0;
    min-width: 130px;
  }

  .dropdown-menu>li>a {
    color: $light-background;
    padding: 5px 20px;
  }

  .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    background-color: transparent;
    background-image: none;
    background-repeat: no-repeat;
    color: $primary-color;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 6px!important;
    line-height: 20px;
  }
  
  .nav>li {
    display: inline-block;
  }

  .fa-angle-down {
    margin-left: 4px;
  }

  @media screen and (max-width: $medium) {
    text-align: center;
  }
}

.img--flag {
  margin-right: 5px;
  margin-bottom: 1px;
}


@media screen and (min-width: 992px) {
  header.fixed.fixed-top {
    background-color: $secondary-color !important;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.04);
    height: 60px;
    transition: background-color 0.6s cubic-bezier(0.55, 0, 0.1, 1) 0.4s, height 0.6s cubic-bezier(0.55, 0, 0.1, 1) 0.4s, box-shadow 0.5s linear;
  }
}

#sidemenu {
  ul {
    .navbar-nav {
      margin-top: 3px;
      margin-bottom: 7px;
    }
    li{
      a {
        margin-left: 60px;
        font-size: 16px;
        line-height: 26px;
        font-family: $primary-font;
        font-weight: 400;
        color: $light-background;
        padding: 10px 0;

        @media screen and (max-width:$medium){
          margin-left: 0;
        }
        
      }
      &:hover {
        color: $primary-color!important;
      }

      
    }
  }

}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: $primary-color!important;
  background-color: transparent;
}

.navbar-nav {
  margin: 0;
}

/// Fixing all mobile 
@media screen and (max-width: $medium) {
  #sidemenu {
    margin: 0!important;
  }


  /**************************
				 NAV
		**************************/

		.navbar-collapse {
			padding-left: 0px;
		}

		.navbar-collapse{
			box-shadow:none;
		}

		.navbar-toggle {
			position: relative;
			float: right;
			padding: 9px 10px;
			margin-top: 20px;
			margin-right: 15px;
			margin-bottom: 8px;
			background-color: transparent;
			background-image: none;
			border: 0;
			border-radius: 0;
		}

		.navbar-default .navbar-toggle:hover,
		.navbar-default .navbar-toggle:focus {
			background-color: transparent;;
		}

		.navbar-default .navbar-toggle .icon-bar {
      background-color: $light-background !important;
      transition: all 0.3s ease-in-out;
		}
		.navbar-default .navbar-toggle:hover .icon-bar,
		.navbar-default .navbar-toggle:focus .icon-bar,
		.navbar-default .navbar-toggle:active .icon-bar {
			background-color: $primary-color !important;
		}

		.navbar-toggle .icon-bar {
		    display: block;
		    width: 29px;
		    height: 4px;
		    border-radius: 1px;
		}


		.navbar-default {
			background-color: transparent;
			border-color: transparent;
    }

    .navbar-nav .open .dropdown-menu {
      position: static;
      float: none;
      width: auto;
      margin-top: 0;
      border: 0;
      -webkit-box-shadow: none;
      box-shadow: none;

      background-color: #37475a;
      border-radius: 0;
      min-width: 130px;
    }

    .nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
      background-color: transparent!important;
      border-color: transparent!important;
    }

}

@media screen and (max-width: 767px) {
  .navbar-nav .open .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 130px;
    padding: 5px 6px;
    margin: 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #37475a;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
  }
}

.navbar-nav>li>.dropdown-menu {
  margin-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.open>.dropdown-menu {
  display: block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 130px;
  padding: 5px 6px;
  margin: 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #37475a;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu>li>a {
    line-height: 1.42857143!important;
  }
}

@media (max-width: 767px) {
  .navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
    padding: 5px 20px!important;
  }
}

.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
  background-color: transparent!important;
  border-color: transparent!important;
}

@media screen and (min-width:768px) and (max-width:958px){
  #sidemenu ul li a {
    margin-left: 27px!important;
  }
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  border-color: #17202b;
}

/// HERO

.hero-content {
  margin-top: 50px;
  @media (max-width: $large) {
    margin-top: 20px;
  }
  h4 {
    margin-top: 0;
    margin-bottom: 30px;
  }
  > img {
    @media (max-width: $small) {
      max-width: 100%;
    }
  }
}


// CONTENT


.new-style--button {
  width: 160px;
  color: $dark-background;
  border: 1px solid $primary-color-hover;
  @include gradient( $primary-color-hover, $primary-color);
  transition: all .1s ease;
  @media (max-width: $small) {
    width: 100%;
  }
  &:hover,
  &:active,
  &:focus {
    @include gradient( $primary-color, $primary-color-hover);
    text-shadow: 0px 0px $secondary-color;
    color: $dark-background!important;
  }
}

a.btn-gray {
  color: $light-background!important;
  border: 1px solid $secondary-color;
  @include gradient( $secondary-color, $secondary-color-light);
  transition: all .4s ease;
  &:hover,
  &:active,
  &:focus {
    @include gradient( $secondary-color-light, $secondary-color);
    color: $light-background!important;
    text-shadow: 0px 0px $light-background;
    transition: all .4s ease;
  }
}

.fa-2x {
  font-size: 3em;
}


.col-3-padding {
  @media (min-width: $full) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.padding-lg-mobile {
  @media (max-width: $large) {
    padding-bottom: 0!important;
  }
}

.clear-left--md {
  @media screen and (min-width: $medium) and (max-width: $large) {
  clear: left;
  }
}

#features {
  margin-bottom: 75px;
}

h1.title-main {
  text-transform: uppercase;
  text-align: center;
}

.box-services .box-service {
  background-color: white;
  padding: 25px;
  margin: 0 10px;
  transition: ease .4s all;
  box-shadow: 0 2px 35px 0 rgba(0, 0, 0, 0.1);
  border-radius: 0;
  @media (min-width: $large-min) {
    height: 520px;
  }
  @media (max-width: $large) {
    margin: 30px 10px;
  }
  @media (max-width: $small) {
    margin: 30px 0;
  }
  img {
    border: 1px solid $darkgrey-background;
  }

  h4 {
    font-weight: 600;
  }
  
}

.read-more {
  color: $primary-color!important;
  .fa {
    margin-left: 5px;
    color: $primary-color;
    vertical-align: sub;
  }
}

.news-date {
  margin-top: 10px;
  span {
    color: $gray;
  }
}

.circle-yes {
  border-radius: 50%;
  background-clip: inherit;
  border-width: 3px;
  border-style: solid;
  text-align: center;
  margin-top: 2px;
}

#process {
  .process-bg {
    padding: 60px 0;
    padding-bottom: 70px;
    margin: 0;
    overflow: hidden;
    background: url(../img/bg-image.jpg) center center fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0 0 0 1000px rgba(0,0,0,.8);
  }
  h1 {
    margin-bottom: 80px;
  }
  h6 {
    font-family: $primary-font;
    font-size: 22px;
    color: $light-background;
    text-transform: uppercase;
    @media (max-width: $large) {
      margin-bottom: 30px;
    }
  }
  i {
    font-size: 5rem;
    background-color: $primary-color;
    color: $light-background;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    border-color: $primary-color-hover;
    line-height: 130px;
    height: 130px;
    width: 130px;
    margin-bottom: 10px;
    color: #ffffff;
    @media (max-width: $small) {
      font-size: 4rem;
      line-height: 95px;
      height: 90px;
      width: 90px;
      margin-bottom: 0;
    }
    &::before {
      position: relative;
      top: -5px;
    }
  }
}

#tools {
  h1 {
    margin-bottom: 80px;
  }
}

h3.margin-bottom {
  @media screen and (min-width: $large) and (max-width: $full) {
    margin-bottom: 5px!important;
  }
}

.tool {
  @media only screen and (max-width: $large) {
    padding: 20px 0!important;
  }
  h3 {
    @media only screen and (min-width: 993px) {
      margin-top: 0!important;
      margin-bottom: 20px!important;
    }

  }

  .right-column {
    @media only screen and (max-width: 379px) {
      clear: both;
      display: block;
    }
  }

  .left-column {
    @media only screen and (max-width: 379px) {
      margin-bottom: 1px;
    }
  }

}

.video-photo {
  @media only screen and (max-width: $large) {
    margin-top: 25px!important;
  }
}

.btn-tools {
  float: right;
  margin-top: -23px!important;
  @media only screen and (max-width: 660px) {
    float: none;
    display: block!important;
    clear: both;
    margin-top: 20px!important;
    margin-bottom: 30px!important;
  }
}

.video-box {
  border: 1px solid $darkgrey-background;
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
  figure {
    @media only screen and (max-width: $large) {
      margin-top: 68px;
    }
    
  }
  @media only screen and (max-width: $large) {
    margin: 0 auto;
    border: 0;
  }

  .btn-play {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
@media only screen and (max-width: 767px) {
  .btn-play {
    width: 60px;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    padding-left: 0;
  }
}

.btn-play {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: $primary-color;
  color: $light-background;
  text-align: center;
  line-height: 100px;
  font-size: 50px;
  -webkit-box-shadow: 0 0 0 0 $primary-color;
  box-shadow: 0 0 0 0 $primary-color;
  padding-left: 6px;
  &:hover {
    color: $secondary-color;
  }
  &:active {
    color: $secondary-color!important;
  }
  &:focus {
    color: $secondary-color!important;
  }
}

.left-column {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
}

.left-column, .right-column {
  span {
    color: $secondary-color;
  }
  
}

.btn-transparent {
  background-color: transparent;
  background-image: none;
  color: $light-background;
  border: 1px solid $light-background;
  padding:0;
  padding-right: 30px;
  padding-left: 30px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 14px;
  font-family: $secondary-font;
  text-transform: uppercase;
  display: inline-block;
  overflow: hidden;
  outline: none;
  border-radius: 2px;
  font-weight: 400;
  position: relative;
  margin-right:10px;
  margin-left: 10px;
  margin-bottom:35px;
  text-decoration: none !important;
  transition: all .4s ease;
  &:hover {
    background-color: transparent;
    background-image: none;
    color: $primary-color;
  }
  i {
    margin-left: 10px;
  }
}

#contactForm {
  margin-top: 60px;
}

.form-control {
  display: block;
  width: 100%;
  height: auto;
  padding: 15px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: $primary-color;
  background-color: $dark-background;
  background-image: none;
  border: 1px solid $darkgrey-background;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  &:focus {
    border-color: $primary-color-hover;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(254, 189, 105,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(254, 189, 105,.6);
  }
  
}

footer {
  h4 {
    margin-top: 60px!important;
    color: $paragraph-color-light;
    
  }
  hr {
    border-color: $dark-background;
  }
  .container {
    overflow: hidden;
  }
}

textarea.form-control {
  height: 186px;
}

form {
  button {
    padding: 0;
    padding-right: 30px;
    padding-left: 30px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 14px;
    font-family: "Lato", sans-serif;
    text-transform: uppercase;
    display: inline-block;
    overflow: hidden;
    outline: none;
    border-radius: 2px;
    font-weight: 400;
    position: relative;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 35px;
    text-decoration: none !important;
    transition: all .4s ease;
    background-color: #232f3e;
    width: 170px!important;
    margin-top: 20px;
  }
}

// TABLE

.pricingTable{
  text-align: center;
  background: $darkgrey-background;
  @media only screen and (min-width: $full) {
    margin-top: 35px;
  }
  h3 {
    color: $secondary-color;
    @media screen and (min-width: $large) and (max-width: $full) {
      font-size: 19px;
    }
		@media screen and (min-width: 1200px) and (max-width: 1470px) {
      font-size: 24px;
    }
  }
	
	.new-style--button {
		@media screen and (min-width: 992px) and (max-width: 1065px) {
			width: 145px;
			font-size: 13px;
		}
	}
	.break {
		display: none;
		@media screen and (min-width: 1071px) and (max-width: 1184px) {
			display: block;
		}
	}
	
  
}

.prof-offset-3 {
	@media screen and (min-width: 768px) and (max-width: 991px) {
		margin-left: 25%;
	}
}

.pricingTable:hover  > .pricingTable-header > .heading > h3{
    color: $primary-color-hover;
    transition: all 0.4s ease 0s;
}

.pricingTable > .pricingTable-header{
    color: $grey-background;
    background-color: $secondary-color;
    padding-bottom: 20px;
}

.pricingTable-header > .heading{
    display: block;
    padding-top: 10px;
    position: relative;
}

.heading > h3{
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 15px;
    color: $grey-background;
}

.heading > .sale-wrapper{
    height: 88px;
    width: 85px;
    color:#fff;
    overflow: hidden;
    position: absolute;
    right: -4px;
    top: -3px;
}

.sale-wrapper > .sale{
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    font-size: 12px;
    padding: 10px 0;
    position: absolute;
    left: 0px;
    top: 10px;
    text-align: center;
    text-transform: uppercase;
    transform: rotate(45deg);
    width: 120px;
    background: $primary-color-hover;
}



.pricingTable-header > .price-value{
    display: block;
    color: $primary-color-hover;
    font-size: 50px;
    font-weight: 700;
}

.price-value > .mo{
    display: block;
    color: $grey-background;
    font-size: 14px;
    font-weight: normal;
}

.pricingTable > .pricingContent > ul{
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.pricingTable > .pricingContent > ul > li{
    padding: 13px 35px;
    border-top: 1px solid $grey-background;
    text-transform: uppercase;
    color: $gray;
}

.pricingTable > .pricingContent > ul > li:nth-child(odd){
    background: $body-background;
    color: $gray;
    text-transform: capitalize;
}

.pricingTable-sign-up{
    padding: 30px 15px;
    border-top: 1px solid $grey-background;
    background: #EBEBEB;
}

.pricingTable-sign-up .btn-default{
    padding: 15px;
    background: #e67e22;
    color:#fff;
    text-transform: capitalize;
    border: 0px none;
    transition: all 0.4s ease 0s;
}

.pricingTable-sign-up .btn-default:hover{
    background: #2F2F2F;
    color:#fff;
}

@media screen and (max-width: 990px){
  .pricingTable{
      margin-bottom: 20px;
  }
}

.pricingContent span {
  font-size: 0.8em;
  display: block;
}

.demo {
	margin-bottom: 80px;
}

.green {
  color: $teal;
}

.red {
  color: $danger;
}

#faq {
	h3  {
		margin-bottom: 55px;
  }
  
  p {
    color: $paragraph-footer;
  }
}

// Bootstrap 5 columns

.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-15 {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
.col-sm-15 {
      width: 20%; 
      float: left;
  }
}

@media (min-width: 992px) {
  .col-md-15 {
      width: 20%;
      float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-15 {
      width: 20%;
      float: left;
  }
}

.container-fluid {
	@media screen and (min-width: 1920px) {
		width: 1750px;
	}
    
} 

.BackToTop {
  display: block;
  text-align: center;
  color: #fff;
  padding: 15px 0;
  line-height: 19px;
  font-size: 13px;
}

.btn-guide {
  width: 270px;
  @media screen and (max-width: 400px) {
    width: 245px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

#scroll {
  position:fixed;
  right:10px;
  bottom:10px;
  cursor:pointer;
  width:50px;
  height:50px;
  background-color:$secondary-color;
  text-indent:-9999px;
  display:none;
  -webkit-border-radius:60px;
  -moz-border-radius:60px;
  border-radius:60px;
  z-index: 10;
  
}

#scroll span {
  position:absolute;
  top:50%;
  left:50%;
  margin-left:-8px;
  margin-top:-12px;
  height:0;
  width:0;
  border:8px solid transparent;
  border-bottom-color:#ffffff;
}
#scroll:hover {
  background-color: $primary-color;
  opacity:1;filter:"alpha(opacity=100)";
  -ms-filter:"alpha(opacity=100)";
}