/*-------------------------------------------------*/
/* =  4.Main Navigation
/*-------------------------------------------------*/

@import 'variables';

header {
    position: relative;
    z-index: 3;
    background-color: $secondary-color;
    box-shadow: $shadow-bottom;

    &.fixed {
        
        @media screen and (min-width: 992px) {
            width: 100%;
            max-width: 1500px;
            margin: 0 auto;
            position: fixed;
            top: 0;
            left: 50%;
            margin-left: -750px;
            z-index: 100;
            transition: background-color 0.6s cubic-bezier(0.55, 0, 0.1, 1) 0.4s,height 0.6s cubic-bezier(0.55, 0, 0.1, 1) 0.4s,box-shadow 0.5s linear;   
        }
        
        &.full-width {
            max-width: 100%;
            margin-left: 0px;
            left: 0;
            right: 0;
        }
            
        @media screen and (max-width:1500px) {
            max-width: 100%;
            margin: 0;
            left: 0;
            margin-left: 0;
        }
        @media screen and (max-width: 992px) {
            margin-bottom: -80px;
        }

        &.fixed-top {
            @media screen and (min-width: 992px) {
                
                background-color: white !important;
                box-shadow: 0 10px 10px 0 rgba(0,0,0,0.04);
                height: 60px;
                transition: background-color 0.6s cubic-bezier(0.55, 0, 0.1, 1) 0.4s,height 0.6s cubic-bezier(0.55, 0, 0.1, 1) 0.4s,box-shadow 0.5s linear;

                nav {
                    &.navbar {
                        height: 60px;

                        #sidemenu {
                            margin: 15px 0;
                            transition: margin 0.6s cubic-bezier(0.55, 0, 0.1, 1) 0.4s;
                        }

                        #logo {
                            transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1) 0.4s;
                            a.navbar-brand {
                                height: 60px;
                                line-height: 60px;
                                padding: 12px 0;
                                transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1) 0.4s;

                                img {
                                    max-height: 35px;
                                    transition: max-height 0.6s cubic-bezier(0.55, 0, 0.1, 1) 0.4s;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    nav {
        &.navbar {
            height: 80px;
            box-shadow: none;
            border-radius: 0;
            background-image: none;
            background-color: transparent;
            border: none;
            margin-bottom: 0;

            #logo {
                width: 200px;
                position: relative;
                float: left;
                transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1) 0.4s;

                a {
                    &.navbar-brand {
                        height:80px;
                        line-height:80px;
                        padding: 15px 0 15px;
                        transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1) 0.4s;

                        @media screen and (max-width:$medium) {
                          padding: 9px 0 21px;
                        }

                        img {
                            max-height: 55px;
                            width: auto;
                            transition: max-height 0.6s cubic-bezier(0.55, 0, 0.1, 1) 0.4s;

                        }
                    }
                }
            }
            
        }
    }

    #sidemenu {
      position: relative;
      float: right;
      margin: 25px 0 21px;
      width: 80%;
      width: calc(100% - 200px);

      @media screen and (min-width:$large) {
        transition: margin 0.6s cubic-bezier(0.55, 0, 0.1, 1) 0.4s;
      }
      @media screen and (max-width:$large) {
        width: auto;
      }
      @media screen and (max-width:$medium) {
        float: left;
        width: 100%;
      } 
      ul.navbar-nav{
        @media screen and (max-width:$medium) {
          text-align: center!important;
        }
      }
    }
  }