@import 'mixins';

$primary-font:          	'Lato', sans-serif;
$secondary-font:        	'Lato', sans-serif;
$big-font:              	'Arial Black', arial-black, 'Arial Bold','Lato', sans-serif;
$paragraph-font:        	'Lato', sans-serif;
$alt-font:              	'Lato', sans-serif;

// Metronic v5.3 Colors

$blue:			#007bff;
$indigo:		#6610f2;
$purple:		#6f42c1;
$pink:			#e83e8c;
$red:				#dc3545;
$orange:		#fd7e14;
$yellow:		#ffc107;
$green:			#28a745;
$teal:			#20c997;
$cyan:			#17a2b8;
$white:			#fff;
$gray:			#6c757d;
$gray-dark:	#343a40;
$primary:		#5867dd;
$secondary:	#ebedf2;
$success:		#34bfa3;
$info:			#36a3f7;
$warning:		#ffb822;
$danger:		#f4516c;
$light:			#f8f9fa;
$dark:			#343a40;


// $primary-color:        	$warning;
// $primary-color-hover:  	$orange;
// $secondary-color: 		 	$gray-dark;
// $secondary-color-light:	$gray;
// $dark-background: 		 	$gray-dark;
// $title-dark:						$gray-dark;
// $paragraph-color:      	$gray;
// $paragraph-color-light:	$light;
// $light-background: 		 	$light;
// $body-background: 		 	$light;
// $grey-background: 		 	$light;
// $darkgrey-background:  	$secondary;

$primary-color:        	#febd69;
$primary-color-hover:  	#f3a847;
$secondary-color: 		 	#232f3e;
$secondary-color-light:	#37475a;
$dark-background: 		 	#131a22;
$title-dark:						#22233b;
$paragraph-color:      	#37475a;
$paragraph-color-light:	#EBEFF0;
$light-background: 		 	#f7f7f7;
$body-background: 		 	#EEEEEE;
$grey-background: 		 	#F7F7F7;
$darkgrey-background:  	#E6E7E8;
$paragraph-footer:      #7b8996;

$iphone4: 		320px;
$iphone6: 		375px;
$iphone6plus: 414px;
$ipad:				1024px;
$small: 			480px;
$medium: 			767px;
$large: 			991px;
$large-min: 	992px;
$full: 				1199px;


$shadow-bottom: 0 2px 17px 0 rgba(0, 0, 0, 0.2);