/*-------------------------------------------------
=  Table of Css

2.General
3.Main Settings
4.Main Navigation
5.Main content
6.Page
7.Forms
8.Footer
9.Elements
11.Magnific popup
12.OWL
13.Animations

-------------------------------------------------*/


@import 'variables';

@import 'mixins';

/*-------------------------------------------------*/
/* =  2.General
/*-------------------------------------------------*/

html {
    line-height: 1.64;
}
body {
    font-family: $primary-font;
    color: $primary-color;
    background-color: $body-background;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
		font-family: $big-font;
    color: $dark-background;
    font-weight: 900;
    line-height: 1.2;
    @media screen and (min-width: $large) and (max-width: $full) {
      margin-top: 0;
    }
}
h1 {
    font-size: 44px;
    
    @media screen and (max-width:$small) {
        font-size: 30px;
    }
}
h2 {
    font-size: 42px;
    
    @media screen and (max-width:$small) {
        font-size: 25px;
    }
}
h3 {
    font-size: 30px;
    
    @media screen and (max-width:$small) {
        font-size: 25px;
    }
}
h4 {
    font-size: 20px;
    font-weight: 400;
    font-family: $primary-font;
    @media screen and (max-width:$small) {
        font-size: 18px;
    }
}
h5 {
    font-size: 18px;
    
    @media screen and (max-width:$small) {
        font-size: 16px;
    }
}
h6 {
    font-size: 16px;
}

a {
    color: $primary-color;
    text-decoration: none;
    transition: color .4s ease;
    
    &:focus, &:active{
        outline: none;
        text-decoration: none;
        color: $primary-color-hover;
    } 
    
    &:hover {
        text-decoration: none;
        color: $primary-color;
        transition: color .4s ease;
    }
    &.simple {
        text-decoration: underline;
        color: $secondary-color;
        transition: opacity .4s ease;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 20px;
        
        
        &:hover {
            opacity: .65;
            transition: opacity .4s ease;
        }
    }
    &.btn {
        padding:0;
        padding-right: 30px;
        padding-left: 30px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        font-size: 12px;
        letter-spacing: 1px;
        font-family: $secondary-font;
        text-transform: uppercase;
        display: inline-block;
        overflow: hidden;
        outline: none;
        border:1px solid $dark-background;
        border-radius: 2px;
        font-weight: bold;
        color: $dark-background;
        position: relative;
        margin-right:10px;
        margin-left: 10px;
        margin-bottom:35px;
        text-decoration: none !important;
        transition: all .4s ease;
        font-weight: 400;
        
        @media screen and (max-width:$large) {
            margin-bottom:0px;
        }

        &:hover {
            background-color: $secondary-color;
            color:white !important;
            border-color:transparent;
            transition: all .4s ease;
        }
    }
    &.btn-alt {
        padding:0;
        padding-right: 30px;
        padding-left: 30px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        font-size: 14px;
        font-family: $secondary-font;
        text-transform: uppercase;
        display: inline-block;
        overflow: hidden;
        outline: none;
        border-radius: 2px;
        font-weight: 400;
        position: relative;
        margin-right:10px;
        margin-left: 10px;
        margin-bottom:35px;
        text-decoration: none !important;
        transition: all .4s ease;
        background-color: $secondary-color;
        
        @media screen and (max-width:$large) {
            margin-bottom:0px;
        }

        &:hover {
            background-color: $primary-color;
            color:white;
            transition: all .4s ease;
        }
        &.shadow {
            box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.2);
        }
        &.no-margin-bottom {
            margin-bottom: 0;
        }
        &.active {
            background-color: transparent;
            border: 1px solid $primary-color;
            color: $primary-color;

            &:hover {
                background-color: $primary-color;
                border: 1px solid $primary-color;
                color: white;
            }

            &.white {
                border-color: white;
                color: white;

                &:hover {
                    background-color: white;
                    color: $secondary-color;
                }
            }
        }
        &.small {
            height: 36px;
            line-height: 36px;
            background-color: $secondary-color;
            color: white;
            transition: all .4s ease;
            font-size: 12px;

            &:hover {
                background-color: white;
                color: $secondary-color;
                transition: all .4s ease;
            }

            &.white {
                border: 1px solid white;

                &:hover {
                    background-color: white;
                    color: $secondary-color !important;
                }
            }
            &.border {
                border: 1px solid $primary-color;
            }
        }
        i {
            margin-right: 8px;
        }
    }
    &.btn-pro {
        font-size: 14px;
        line-height: 14px;
        color: $primary-color;
        font-weight: 400;
        text-decoration: none;
        position: relative;
        text-transform: uppercase;
        
        &:after {
            content: "\f30f";
            font-family:"Ionicons";
            position: absolute;
            display: block;
            position: absolute;
            right: -20px;
            top: 1px;
            transition: right .4s ease;
            color: $secondary-color;
        }
        
        &:hover {
            &:after {
                right: -25px;
                transition: right .4s ease;
            }
        }
        &.white {
            font-weight: 300;
        }
    }
    &.btn-simple {
        font-size: 16px;
        line-height: 16px;
        color: $secondary-color;
        font-weight: 400;
        text-decoration: none;
        position: relative;
        text-transform: uppercase;
        transition: color .4s ease;
        z-index: 2;
        
        &:before {
           content: '';
           background-color: $secondary-color;
           border-radius: 2px;
           position: absolute;
           top:-1px;
           bottom: 0;
           left: -5px;
           width: 0%;
           z-index: -1;
           transition: all ease .4s;
        }
        
        &:hover {
            color: white;
            padding-left: 5px;
            transition: all .2s ease;
            
            &:before {
                width: calc(100% + 15px);
                transition: all ease .4s;
            }
        }
    }
    &#btn-share {
        padding:0;
        padding-right: 20px;
        padding-left: 30px;
        text-align: center;
        font-family: $secondary-font;
        text-transform: uppercase;
        display: inline-block;
        border-radius: 2px;
        font-weight: 400;
        text-decoration: none !important;
        transition: all .4s ease;
        background-color: transparent;
        height: 30px;
        line-height: 30px;
        background-color: transparent;
        color: $primary-color-hover;
        transition: all .4s ease;
        font-size: 12px;
        border: 1px solid $primary-color-hover;
        position: relative;
        
        &:hover {
            background-color: $secondary-color;
            border-color: $secondary-color;
            color: white;
        }
        
        &:before {
            position: absolute;
            content: "+ ";
            margin-left: -12px;
            font-size: 14px;
            line-height: 29px;
        }
    }
}
p {
    font-family: $paragraph-font;
    color: $paragraph-color;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 16px;
    font-weight: 300;
    
    &.small {
       font-size: 14px;  
    }
    
    &.big {
        font-size: 20px;
        
        @media screen and (max-width:$small) {
            font-size: 18px;
        }
    }
    
    b, strong {
        font-weight: 400;
        color: $paragraph-color;
    }
    
    a {
        text-decoration: none;
    }
}
.color-dark {
    color: $primary-color;
}
.light-background {
    background-color: $light-background !important;
}
.color-background {
    background-color: $secondary-color;
}
.secondary-background {
    background-color: $primary-color;
}
.dark-background {
    background-color: $dark-background !important;
}
.black-background {
    background-color: #222;
}
.grey-background {
    background-color: $grey-background !important;
}
.darkgrey-background {
    background-color: $darkgrey-background !important;
}
.body-background {
    background-color: $body-background !important;
}
.section-bordertop {
    border-top: 1px solid $light-background;
}
button {
    background: none;
    border:none;
    outline: inherit;
}
i {
    font-style: italic;
    font-family: $paragraph-font;
    
    &.service {
        display: block;
        font-size: 35px;
        margin-bottom: 18px;
        transition: color .4s ease;
        
        &.big {
            font-size: 50px;
        }
        
        &.material {
            box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2);
            width: 60px;
            height: 60px;
            border-radius: 10px;
            font-size: 30px;
            line-height: 60px;
            text-align: center;
            color: $secondary-color;
            display: inline-block;
            
            &.left {
                float: left;
            }
        }
        &.left {
            float: left;
        }
        &:hover {
            color: $secondary-color;
            transition: color .4s ease;
        }
    }
    &.material-icons {
        &.service {
            font-size: 30px;
        }
        &.left {
            float: left;
        }
    }
    &.separator {
        display: block;
        font-size: 35px;
        transition: color .4s ease;
    }
}
b, strong {
    font-weight: bold;
}
dl {
    margin:25px 0;
    font-family: $secondary-font;
    font-size: 14px;
    line-height: 24px;

    dt {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-family: $primary-font;
        font-size: 12px;
        line-height: 22px;
    }
    dd {
        border-left: 2px solid $secondary-color;
        font-family: $alt-font;
        padding-left: 20px;
        margin-bottom:10px;
        font-style: italic;
        letter-spacing: 1px;
    }
}
ol {
    list-style: decimal;
    padding-left: 28px;
    font-family: $paragraph-font;
    color: $paragraph-color;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: 300;
    margin: 25px 0 25px 15px;
}
ul {
    li {
        &.border {
            border-bottom: 1px solid #c2c3c4;
        }
    }
    &.styled, &.post {
        list-style: none;

        li {
            position: relative;
            padding-left: 26px;
            margin: 9px 0;
            color: $primary-color;
            font-size: 16px;
            line-height: 26px;
            font-weight: 300;
            color: $primary-color;
            

            &:before {
                position: absolute;
                content: "\f383";
                font-family: "Ionicons";
                color: $secondary-color;
                left: 0;
                top: 0;
            }
        }   
    }
    &.post {
        padding: 25px 0 25px 18px;
        
        li {
            font-weight: 300;
            
            &:before {
                position: absolute;
                content: "\f111";
                font-family: "FontAwesome";
                color: $primary-color;
                font-size: 8px;
                left: 8px;
                top: -1px;
            }
        }
    }
}
mark {
    background: $light-background;
    padding: 0 4px;
    color: $paragraph-color;
}
pre {
    padding:25px;
    background: $light-background;
    overflow: hidden;
    border-radius: 0;
    font-family: $paragraph-font;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    color: $primary-color;
    margin:25px 0;

}
code {
    color: $secondary-color;
    background-color: $light-background;
}
blockquote, q {
    display: block;
    quotes: none;
    position: relative;
    font-size: 16px;
    line-height: 26px;
    padding-left: 36px;
    font-family: $paragraph-font;
    color: $paragraph-color;
    font-weight: 400;
    font-style: italic;
    margin: 50px 0;
    border-left: 4px solid $secondary-color;
    
    
    cite {
        margin-top: 18px;
        font-style: normal;
        display: block;
        font-size: 14px;
        font-weight: 300;
        color: $paragraph-color;
        
        a {
            color: $paragraph-color;
            
            &:hover {
                color: $secondary-color;
            }
        }
    }
}
textarea {
    resize: none;
}
// .popup-youtube, .popup-vimeo {
//     position: relative;
//     display: block;
//     overflow: hidden;

//     &.shadow {
//         box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.3);
//     }

//     &:before {
//         content:"\f487";
//         font-family:"Ionicons";
//         position: absolute;
//         display: block;
//         color: white;
//         font-size:40px;
//         text-align: center;
//         line-height: 100%;
//         top: 50%;
//         left: 50%;
//         transform: translate(-50%,-50%);
//         width: 70px;
//         height: 70px;
//         background-color: $secondary-color;
//         line-height: 70px;
//         padding-left: 5px;
//         z-index: 1;
//         transition: background-color .4s ease;
//         border-radius: 50%;

//         @media screen and (max-width:410px) {
//             font-size:30px;
//             width: 45px;
//             height: 45px;
//             line-height: 45px;
//         }
//     }
//     &:hover {
//         &:before {
//             background-color: $dark-background;
//             transition: background-color .4s ease;   
//         }
//     }

//     &:focus {
//         outline: none;
//     }

//     &.black {
//         &:before {
//             background-color: $dark-background;
//         }
//         &:hover {
//             &:before {
//                 background-color: $secondary-color;
//                 transition: background-color .4s ease;   
//             }
//         }
//     }

//     img {
//         display: block;
//         width: 100%;
//         height: auto;
//     }
// }
.height-auto-lg {
    @media screen and (max-width: $full) {
        height: auto !important;    
    }
}
.height-auto-md {
    @media screen and (max-width: $large) {
        height: auto !important;    
    }
}
.height-auto-sm {
    @media screen and (max-width: $medium) {
        height: auto !important;    
    }
}

.border-right {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    width: 70px;
    height: 100%;
    max-width: 70px;
    background-color: $light-background;
    
    @media screen and (max-width:1350px){
        display: none;
    }
}
.border-left {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
    width: 70px;
    height: 100%;
    max-width: 70px;
    background-color: $light-background;
    
    @media screen and (max-width:1350px){
        display: none;
    }
}
.nav-tabs {
    padding-left: 0 !important;
    border-bottom: none;

    li {
        margin-bottom:0;
        
        a {
            font-size: 12px;
            color: $primary-color;
            text-decoration: none;
            font-family: $secondary-font;
            font-weight: 300;
            text-transform: uppercase;
            border: none;
            margin-right: 0;
            transition: all .4s ease;
            padding: 0 30px;
            height: 36px;
            line-height: 36px;
            letter-spacing: 1px;

            &:hover, &:focus {
                border:none;
                border-radius: 2px;
                color: $secondary-color;
                background-color: transparent;
                transition: all .4s ease;
            }
            &:focus {
                outline: none;
            }
        }
        &.active {
            a {
                border:none;
                border-radius: 2px;
                text-decoration: none;
                color: white;
                background-color: $primary-color-hover;
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

                &:hover, &:focus {
                    border:none;
                    border-radius: 2px;
                    color: white;
                    background-color: $secondary-color;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
    &.alt {
        text-align: center;
        li {
            float: inherit;
            display: inline-block;
            
        
            a {
                padding-left: 30px;
                padding-right: 30px;
                opacity: .5;
                border: none;
                height: 40px;
                line-height: 22px;
                border-radius: 0px;
                font-weight: 600;
                text-rendering: geometricPrecision;
                font-size: 12px;
                
                &:hover, &:focus {
                    border: none;
                    opacity: 1;
                }
            }
            
            &.active {
                a {
                    background-color: $secondary-color;
                    color: white;
                    opacity: 1;
                    border-radius: 40px;
                    
                    &:hover, &:focus {
                        border:none;
                    }
                }
            }
        }
    }
}
.tab-content {
    margin-bottom: 50px;
    margin-top: -1px;

    .tab-pane {
        color: $paragraph-color;
        font-size: 14px;
        line-height: 24px;
        font-family: $paragraph-font;
        letter-spacing: 1px;
        padding-top: 25px;
        font-weight: 300;
    }
    &.alt {
        .tab-pane {
            border: none;
        }
    }
}
.panel-group {
    .panel {
        border-radius: 0;
        border: none;
        box-shadow:none;
        .panel-heading {
            background-color: transparent;
            background-image: none;
            border-bottom: 1px solid $paragraph-color-light;
            border-radius:0;
            padding: 10px 0;
            position: relative;
            
            &:after {
                position: absolute;
                content: "\E313";
                font-family: 'Material Icons';
                font-size: 24px;
                top: 14px;
                right: 0;
                color: $secondary-color;
            }

            h4.panel-title {
                margin-bottom:0;
                font-size: 16px;
                line-height: 28px;
                
                a {
                    font-size: 16px;
                    line-height: 28px;
                    text-decoration: none;
                    font-family: $secondary-font;
                    color: $paragraph-color;
                    display: block;
                    z-index: 2;
                    position: relative;
                    padding-right: 36px;
                    

                    &:hover {
                        color: $secondary-color;
                    }
                }
            }
        }
        .panel-body {
            border-top:none !important;
            color: $primary-color;
            font-size: 16px;
            line-height: 26px;
            font-family: $paragraph-font;
            font-weight: 300;
            padding: 25px 0;
        }
    }
}
@import 'core';
/*-------------------------------------------------*/
/* =  3.Main Setting
/*-------------------------------------------------*/

#main-wrap {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
    background: $white;
    
    &.full-width {
        max-width: 1920px;
    }
}
.fullpage-wrap {
    margin-left: -50px;
    margin-right: -50px;
    background-color: white;
}
.fullpage-md-wrap {
    @media screen and (max-width: $large) {
        margin-left: -50px !important;
        margin-right: -50px !important;
    }
}
.container {
    padding: 0;
    
    @media screen and (max-width: 1093px) {
        width: 100%;
    }
    @media screen and (min-width: $full) {
        width: 90%;
    }
    @media screen and (min-width: 1366px) {
        width: 85%;
    }
    @media screen and (min-width: 1500px) {
        width: 70%;
    }
    @media screen and (min-width: 1920px) {
        width: 1350px;
    }
}
.row {
    &.no-margin {
        margin-left: 0;
        margin-right: 0;
    }
    
    &.first-section {
        margin-top: 80px;
        
    }
}

.section-lines {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    
    span {
        border-right: 1px solid rgba(0, 0, 0, 0.05);
        width: 33.33333333%;
        height: 100%;
        float: left;
        position: relative;
    }
}

@import 'navigation';

/*-------------------------------------------------*/
/* =  5.Main content
/*-------------------------------------------------*/
#home-header, #page-header {
    padding-top: 140px;
    @media screen and (max-width: $large) {
      padding-top: 107px;
    }
    
    .row {
        display: flex;
        
        @media screen and (max-width: $large) {
            display: block;
        }
    }
    
    .text {
        padding: 50px;

    }
    
    .padding-home {
        padding-bottom: 50px;
        
        @media screen and (max-width: $large) {
            padding-bottom: 75px;
        }
    }
    
    p, ul {
        margin-bottom: 35px;
    }
    ul {
        &.styled {
            li {
                &:before {
                    content: "\f125";
                }     
            }
        }
    }
    p {
        &:last-of-type {
            margin-bottom: 35px;
            @media screen and (max-width: $small) {
              margin-bottom: 15px!important;
            }
        }
    }
    a {
        margin-top: 25px;
        margin-left: 0;
        
        &:first-of-type {
            margin-right: 20px;
        }
    }
    img {
        &.main-img {
            @media screen and (max-width: $medium) {
                display: none;    
            }
        }
        &.simple-img {
            display: block;
            margin: 0 0 0 auto;
            max-width: 100%;
            height: auto;
            
            @media screen and (max-width: $large) {
                margin: 0;
            }
        }
    }
    &.bg {
        position: relative;
        @include background-cover();
        background-position: top center;
        
        &:after {
            position: absolute;
            top:0;
            left: 0;
            right: 0;
            bottom: 0;
            content: "";
            background-color: rgba(0,0,0,.30);
            z-index: 1;
        }
        .row {
            min-height: 300px;
            position: relative;
            z-index: 2;
            
            @media screen and (max-width: $large) {
                min-height: 200px;
            }
        }
        .text {
            position: absolute;
            bottom: 75px;
            left: 0;
            
            @media screen and (max-width: $large) {
                position: relative;
                bottom: inherit;
                padding-bottom: 75px !important;
            }
            
            h1 {
                @media screen and (max-width: $large) {
                    margin-bottom: 0 !important;    
                }
            }
        }
    }
    &.error {
        height: 600px;
        height: 100vh;
        height: calc(100vh - 224px);
        
    }
}
#page-header {
    &.bg {
        .row {
            position: relative;
            z-index: 2;
            min-height: 300px;
            
            @media screen and (max-width: $large) {
                min-height: 200px;
            }
        }
        .text {
            position: relative;
            bottom: inherit;
            padding-bottom: 75px;
            padding-top: 126px;
            
            @media screen and (max-width: $large) {
                padding-top: 50px;
                text-align: left;
            }
        }
    }
}
#page-content {
    position: relative;
    z-index: 2;
    background-color: white;
    
    &.footer-fixed {
        margin-bottom: 390px;
        
        @media screen and (max-width:$large) {
            margin-bottom: 0;
        }
    }
    &.header-static {
        margin-top: -80px !important;
        
    }
    #about {
        img {
            display: block;
            max-width: 100%;
            height: auto;
            margin: 0 0 0 auto;
            
            @media screen and (max-width:$large) {
                margin: 0;
            }
        }
        @media screen and (max-width:$large) {
            .row {
                display: flex;
                flex-direction: column;
            }
            .col-md-8 {
                order: 2;
            }
            .col-md-4 {
                order: 1;
                
                .text {
                    padding-top: 0 !important;
                    padding-bottom: 50px !important;
                }
            }
        }
    }
    #author {
        &.color-background {
            .single-person {
                img {
                    width: 150px;
                    height: 150px;
                    border-radius: 12px;
                }
                h3 {
                    color: white;
                }
                h4, p {
                    color: $paragraph-color-light;
                }
            }
        }
    }
    #tools {
        img {
            width: 100%;
            height: auto;
            
            @media screen and (max-width: $full) {
                width: auto;
                max-width: 100%;
                display: block;
            }
        }
    }
    #info-form {
        .main-form {
            margin-top: -315px;
            position: relative;
            z-index: 4;
            
            @media screen and (max-width: $large) {
                margin-top: 0;
            }
        }
        .col-md-12 {
            @media screen and (max-width: $large) {
                display: flex;
                flex-direction: column;
            }
            .col-md-7 {
                @media screen and (max-width: $large) {
                    order: 2;
                    padding-bottom: 39px;
                }
            }
            .col-md-5 {
                @media screen and (max-width: $large) {
                    order: 1;
                }
            }
        }
    }
    #faq {
        padding-bottom: 25px;
        
        &.color-background {
            p {
                color: #D9D9D9;
            }
        }
    }
    #video, #featured-simple {
        margin-top: 175px;
        
        .popup-vimeo, .popup-youtube {
            margin-top: -250px;
        }
        .featured {
            border-top: none;
            
            p {
                margin-bottom: 15px;    
            }
            .content {
                padding: 0;
                
                img {
                    margin: 25px;
                }
            }
        }
    }
    #video {
        .featured {
            .content {
                img {
                    @media screen and (max-width: 410px) {
                        margin: 15px auto;
                    }
                }
            }
        }
    }
    #featured-simple {
        margin-top: 0px;
        
        .featured {
            .content {
                img {
                    @media screen and (max-width: 410px) {
                        margin: 15px auto;
                    }
                }
            }
        }
            
    }
    #share {
        padding: 25px 0 10px 0;
        
        ul {
            &.social-share {
                li {
                    display: inline-block;
                    height: 45px;
                    line-height: 43px;
                    border: 1px solid $primary-color;
                    padding: 0 15px;
                    font-size: 16px;
                    color: $primary-color;
                    border-radius: 2px;
                    position: relative;
                    margin: 15px 10px;
                    
                    i {
                        margin-right: 10px;
                        line-height: 43px;
                        font-size: 18px;
                        transition: color .4s ease; 
                    }
                    a {
                        color: $primary-color;
                    }
                    
                    &:hover {
                        i {
                            &.fa-envelope {
                                transition: color .4s ease; 
                                color: $secondary-color;
                            }
                            &.fa-twitter {
                                transition: color .4s ease; 
                                color: #1DA1F2;
                            }
                            &.fa-linkedin {
                                transition: color .4s ease; 
                                color: #0077B5;
                            }
                            &.fa-facebook {
                                transition: color .4s ease; 
                                color:#3B5998;
                            } 
                        }
                    }
                }
            }
        }
    }
    #cta {
        a {
            color: $primary-color;
            text-decoration: none;
            font-size: 35px;
            
            @media screen and (max-width: $large) {
                font-size: 30px;
            }
            
            
            &:hover {
                color: $secondary-color;
            }
        }
    }
}
/*-------------------------------------------------*/
/* =  6.Page
/*-------------------------------------------------*/
#page-header {
    @include background-cover;
    position: relative;
    
    .bg-img {
        height: 350px;
        @include background-cover;
        position: relative;
        border-radius: 4px;
        transition: box-shadow .4s ease;
        box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.2);
        
        
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 75%;
            bottom: 0;
            border-radius: 4px 0 0 4px;
            background-color: rgba(255, 255, 255, 0.68);
            transition: right .8s ease;
        }
        
        &:hover {
            
            transition: box-shadow .4s ease;
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
            
            &:before {
                right: 100%;
                transition: right .8s ease;
            }
        }
    }
    
    span {
        &.post-meta {
            display: block;
            color: $secondary-color;
            font-family: $secondary-font;
            font-size: 22px;
            line-height: 26px;
            display: inline-block;
            font-weight: 300;
            transition: color .4s ease;
        }    
    }
    
    .text {
        padding: 75px 50px;
        position: relative;
        z-index: 1;

        
        &.small {
            padding: 75px 25px;
            
        }
    }
    
    &.image {
        text-align: right;
        
        @media screen and (max-width: $large) {
            text-align: left;
        }
        
        .col-md-4 {
            .text {
                @media screen and (max-width: $large) {
                    padding-bottom: 0;    
                }
            }
        }
    }
    
    ul {
        &.breadcrumb {
            
            padding: 0;
            margin-bottom: 0;
            list-style: none;
            background-color: transparent;
            border-radius: 0;
            
            > li + li {
                &:before {
                    color: $primary-color;
                }
            } 
            
            li {
                font-size: 22px;
                line-height: 30px;
                font-weight: 300;
                display: inline-block;
                
                @media screen and (max-width: 650px) {
                    font-size: 18px;
                    line-height: 25px;
                }
                
                a {
                    font-size: 22px;
                    line-height: 30px;
                    color: $primary-color;
                    
                    @media screen and (max-width: 650px) {
                        font-size: 18px;
                        line-height: 25px;
                    }
                }
            }
            
            &.white {
                > li + li {
                    &:before {
                        color: white;
                    }
                }
                
                li {
                    a {
                        color: white;
                        
                        &:hover {
                            color: $darkgrey-background;
                        }
                    }
                }
            }
        }
    }
}
.content-section {    
    .text {
        padding: 50px;
      
        
        &.small {
            padding: 50px 25px;

        }
        
        &.first {
            padding: 50px 18px 50px 50px;
            
            @media screen and (max-width: $large) {
                padding: 50px;
            }
        }
        
        &.last {
            padding: 50px 50px 50px 32px;
            
            @media screen and (max-width: $large) {
                padding: 50px;
            }
        }
        
        &.service-responsive-bottom {
            @media screen and (max-width:$large) {
                padding: 50px 50px 0 50px;
            }
        }
        &.service-responsive-top {
            @media screen and (max-width:$large) {
                padding: 26px 50px 14px 50px;
            }
        }

        p {
            &:last-of-type {
                margin-bottom: 36px;   
            }
        }
    }
    .wrap-text {
        padding: 0 25px;
    }
    .bg-img {
        @include background-cover;
        transition: height .4s ease;
        
        @media screen and (max-width:$medium) {
            max-height: 375px;
        }
        
        &.fullpage-wrap {
            padding: 0 50px;
        }
        
        &.responsive {
            @media screen and (max-width:$medium) {
                max-height: none;
            }
        }
        
        &.overlay {
            position: relative;
            overflow: hidden;
            
            .text {
                z-index: 3;
                position: relative;
            }
            
            &:after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 2;
                background: rgba(34, 34, 34, 0.6);
            }
            &.transparent {
                &:after {
                    background: rgba(34, 34, 34, 0);
                    
                    @media screen and (max-width: $full) {
                        background: rgba(255, 255, 255, 0.85);
                    }
                }
            }
        }
        &.static-height {
            height: 600px;
        }
        &.responsive {
            @media screen and (max-width: $medium) {
                max-height: none;
            }
            .col-md-4 {
                &:first-child {
                    .text {
                        @media screen and (max-width: $large) {
                            padding: 60px 15px 30px 15px;
                        }
                    }
                }
                &:last-child {
                    .text {
                        @media screen and (max-width: $large) {
                            padding: 30px 15px 60px 15px;
                        }
                    }
                }
            }
        }
        
    }
    ul {
        &.services {
            li {
                display: table;
                margin-bottom: 54px;
                width: 100%;
                
                &.fixed-height {
                    min-height: 106px;
                    
                    @media screen and (max-width:1500px) {
                        min-height: 130px;
                    }
                    @media screen and (max-width:$full) {
                        min-height: 154px;
                    }
                    @media screen and (max-width:$large) {
                        min-height: inherit;
                    }
                }
                
                &:last-child {
                    margin-bottom: 0;
                }
                em {
                    font-size: 36px;
                    line-height: 40px;
                    font-family: $primary-font;
                }
                .icon {
                    text-align: center;
                    display: inline-block;
                    width: 50px;
                    height: 50px;
                    float: left;
                    color: white;
                    background-color: $secondary-color;
                    transition: transform .4s ease;
                    
                    i {
                        font-size: 22px;
                        line-height: 50px;
                    }    
                }
                .icon-text {
                    display: inline-block;
                    line-height: 50px;
                    float: left;
                    
                    @media screen and (min-width:$large) and (max-width:1250px) {
                        padding-left: 15px;
                    }
                    @media screen and (max-width:650px) {
                        padding-left: 15px;
                    }
                    
                    p {
                        transition: all .4s ease;
                        
                        &:last-of-type {
                            margin-bottom: 0;
                        }
                    }
                }
                &:hover {
                    cursor: help;
                    .icon {
                        transform: scale(1.2);
                        transition: transform .4s ease;
                    }
                    .icon-text {
                        p {
                            color: $secondary-color;
                            transition: color .4s ease;
                        }
                    }
                }
                .col-xs-2 {
                    @media screen and (max-width: 600px) {
                        width: 20%;
                    }
   
                    @media screen and (max-width: 410px) {
                        width: 30%;
                    }
                    @media screen and (max-width: 360px) {
                        width: 35%;
                    }
                }
                .col-xs-10 {
                    @media screen and (max-width: 600px) {
                        width: 80%;
                    }

                    @media screen and (max-width: 410px) {
                        width: 70%;
                    }
                    @media screen and (max-width: 360px) {
                        width: 65%;
                    }
                }
            }
        }
    }
    .featured {
        border-top: 1px solid rgba(151,151,151,.44);
        padding: 25px 0;
        
        
        h3 {
            font-size: 25px;
            width: 150px;
            float: left;
            padding: 25px 0;
            
            @media screen and (max-width: $large) {
                width: 100%;
            }
            @media screen and (max-width: 410px) {
                text-align: center;    
            }
        }
        .content {
            padding-left: 200px;
            
            @media screen and (max-width: $large) {
                padding-left: 0px;
            }
            
            img {
                display: inline-block;
                max-width: 225px;
                margin: 25px 25px 25px 0;
                transition: opacity .4s linear;
                
                @media screen and (max-width: $large) {
                    max-width: 185px;
                }
                @media screen and (max-width: $medium) {
                    max-width: 150px;
                }

                @media screen and (max-width: 410px) {
                    width: 100%;
                    display: block;
                    margin: 15px auto;
                }
                
                &:hover {
                    opacity: .5;
                    transition: opacity .4s linear;
                }
            }
        }
    }
    .partners {
        padding: 0 50px;
        
        @media screen and (max-width: 323px) {
            
            .text {
                &:first-child {
                    padding: 35px 50px;
                }
            }
            
        }
        
        .partner {
            position: relative;
            min-height: 150px;
            
            @media screen and (max-width: $large) {
                min-height: 164px;
            }
            
            &:before {
                opacity: 0;
                content:"";
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(255,255,255,0.1);
                width: 100%;
                height: 100%;
                transition: opacity .4s ease;
            }
            &:hover {
                &:before {
                    opacity: 1;
                    transition: opacity .4s ease;
                }
            }
            img {
                @include vertical-align(absolute);
                max-height: 150px;
                left: 0;
                right: 0;
                margin: 0 auto;
            }
        }
    }
    .circle-counters {
        padding: 60px;
        text-align: center;
        
        .counter {
            height: 260px;
            width: 260px;
            display: block;
            margin: 0 auto;
            color: white;
            position: relative;
            border: 1px solid white;
            border-radius: 50%;
            
            &:before {
                //content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 1px;
                border-radius: 50%;
                background-color: white;
            }
            
            span {
                font-size: 80px;
            }
        }
    }
}
.content-post {
    ul {
        list-style: disc;
        padding-left: 28px;
        font-family: $paragraph-font;
        color: $paragraph-color;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 1px;
        font-weight: 300;
        margin: 25px 0 25px 15px;
    }
}
/*-------------------------------------------------*/
/* =  7.Forms
/*-------------------------------------------------*/
#contact-form, #download-form, #get-form {
    .form-field {
        outline: inherit;
        border:none;
        border-radius: 2px;
        width:100%;
        margin-bottom: 25px;
        padding: 10px;
        font-family: $primary-font;
        font-size: 14px;
        line-height: 14px;
        background-color: $light-background;
        color: $primary-color;
        font-weight: 300;

        &:focus {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }

        &.big {
            font-size: 40px;
            font-family: $primary-font;
            letter-spacing: 1px;
            padding-right: 70px; 
            line-height: 40px;

            @media screen and (max-width:$medium) {
                font-size: 35px;
                padding-right: 35px;
            }
        }

    }
    label {
        font-size: 16px;
        line-height: 20px;
        color: $primary-color;
        font-weight: 300;
        margin-bottom: 12px;

        sup {
            color: $primary-color;
            top: -0.1em;
        }
    }
    textarea {
        &.form-field {
            padding: 12px 9px;   
        }
    }
    ::-webkit-input-placeholder {
        font-family: $primary-font;
        color: $paragraph-color;
        font-size: 14px;
    }

    :-moz-placeholder {
        font-family: $primary-font;
        color: $paragraph-color;
        font-size: 14px;
    }

    ::-moz-placeholder {
        font-family: $primary-font;
        color: $paragraph-color;
        font-size: 14px;
    }

    :-ms-input-placeholder {
        font-family: $primary-font;
        color: $paragraph-color;
        font-size: 14px;
    }

    #submit-contact {
        padding: 0;
        text-align: left;
        font-size: 12px;
        line-height: 22px;
        font-family: $primary-font;
        text-transform: uppercase;
        display: inline-block;
        overflow: hidden;
        outline: none;
        border:none;
        border-radius: 0;
        font-weight: bold;
        color: white;
        position: relative;
        margin: 0;
        background-color: transparent;
        transition: all .4s ease;

        &:hover {
            color: $primary-color;
            transition: all .4s ease;
        }

        &.btn-alt {
            height: 36px;
            line-height: 36px;
            text-transform: none;
            font-weight:400;
            background-color: transparent;
            border: 1px solid $secondary-color;
            color: $secondary-color;
            transition: all .4s ease;
            text-transform: uppercase;
            border-radius: 2px;
            padding-right: 20px;
            padding-left: 20px;
            text-align: center;
            font-size: 14px;
            font-family: $secondary-font;
            display: inline-block;
            overflow: hidden;
            outline: none;

            &:hover {
                background-color: $secondary-color;
                color: white;
                transition: all .4s ease;
            }

            &.shadow {
                box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.2);
            }

            &.white {
                border: 1px solid white;

                &:hover {
                    background-color: white;
                    color: $secondary-color !important;
                    transition: all .4s ease;
                }
            }

        }
    }
    .form-button {
        position: absolute;
        width: auto;
        right: 0;
        top: -2px;

        &.big {
            top: 7px;
            right: 25px;

            i {
                font-size: 60px;

                @media screen and (max-width:$medium) {
                    font-size: 35px;
                }
            }
        }
    }
    #msg {
        color: #f54337;
        font-weight: 300;
        font-size: 16px;
        line-height: 26px;

        &.error, &.success {
            padding-top: 36px;
        }
    }

    &.color {
        ::-webkit-input-placeholder {
            color: $secondary-color;
        }

        :-moz-placeholder {
            color: $secondary-color;
        }

        ::-moz-placeholder {
            color: $secondary-color;
        }

        :-ms-input-placeholder {
            color: $secondary-color;
        }
    }
    &.black {
        ::-webkit-input-placeholder {
            color: $primary-color;
            font-weight: 400;
        }

        :-moz-placeholder {
            color: $primary-color;
            font-weight: 400;
        }

        ::-moz-placeholder {
            color: $primary-color;
            font-weight: 400;
        }

        :-ms-input-placeholder {
            color: $primary-color;
            font-weight: 400;
        }
    }
    &.big {
        ::-webkit-input-placeholder {
            font-size: 40px;
            font-family: $primary-font;
            letter-spacing: 1px;

            @media screen and (max-width:$medium) {
                font-size: 35px;
            }
        }

        :-moz-placeholder {
            font-size: 40px;
            font-family: $primary-font;
            letter-spacing: 1px;

            @media screen and (max-width:$medium) {
                font-size: 35px;
            }
        }

        ::-moz-placeholder {
            font-size: 40px;
            font-family: $primary-font;
            letter-spacing: 1px;

            @media screen and (max-width:$medium) {
                font-size: 35px;
            }
        }

        :-ms-input-placeholder {
            font-size: 40px;
            font-family: $primary-font;
            letter-spacing: 1px;

            @media screen and (max-width:$medium) {
                font-size: 35px;
            }
        }
    }
}
#download-form { 
    .form-field {
        background-color: white;
        border: 2px solid $grey-background;
        
        &:focus {
            border-color: transparent;
        }
    }
    .col-sm-4 {
        @media screen and (min-width: $medium) {
            &:first-of-type {
                padding-left: 0;
            }
            &:nth-of-type(2) {
                padding-right: 0;
            }
            &:last-of-type {
                padding-right: 0;
                padding-left: 30px;
            }   
        }
        @media screen and (max-width: $medium) {
            padding-left: 0;
            padding-right: 0;
        }
    }
}
#get-form {
    .col-md-6, .col-md-4 {
        padding: 0 25px;
    }
    .text {
        padding: 50px 25px 0 25px;
    }
}
.box-form {
    padding: 36px;
    background: #FFFFFF;
    box-shadow: 0 2px 17px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    

}
/*-------------------------------------------------*/
/* =  8.Footer
/*-------------------------------------------------*/
footer, .footer {
    background-color: #192431;
    
    @media screen and (max-width: $large) {
        text-align: center;
    }
    
    .text {
        padding: 50px;

        @media screen and (max-width: $large) {
            padding-bottom: 0px;
        }

        &.small {
            padding: 50px 25px;

            @media screen and (max-width: $large) {
                padding: 25px 50px 0 50px;
            }
            

        }

        &:last-child {
            @media screen and (max-width: $large) {
                padding: 25px 50px 50px 50px;
            }

        }
    }
    p {
        font-size: 14px;
        color: rgba(255,255,255,.48);
        margin-bottom: 0;
        
        a {
            color: rgba(255,255,255,.48);
            
            &:hover {
                color: rgba(255,255,255,1);
            }
            
            &.white {
                &:hover {
                    text-decoration: underline;   
                }
            }
        }
    }
    ul {
        &.social {
            display: inline-block;
            
            @media screen and (max-width: $large) {
                float: inherit;
            }
            
            li {
                display: inline-block;
                font-weight: 300;
                font-size: 30px;
                color: rgba(255,255,255,.48);
                
                i {
                    color: rgba(255,255,255,.48);
                    padding: 0 25px;
                    transition: ease .4s color;
                    
                    
                    &:hover {
                        color: rgba(255,255,255,1);
                        transition: ease .4s color;
                    }
                }
            }
        }
    }
}
/*-------------------------------------------------*/
/* =  9.Elements
/*-------------------------------------------------*/
hr {
    margin: 0;
    border-color: rgba(151,151,151,.44);
}
.wrap-text {
    padding: 0 25px;
}
.section-image {
    min-height: 400px;
    padding: 0 50px;
    
    @media screen and (max-width: $large) {
        min-height: 100px;
    }
}
.border-separator {
    height: 1px;
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid rgba(117,117,117,0.05);
}
span {
    &.dropcap {
        position: relative;
        
        &:before {
            content: attr(data-dropcap);
            font-weight: 700;
            font-size: 120px;
            line-height: 120px;
            position: absolute;
            font-family: $primary-font;
            left: 0;
            top: -31px;
            color: $darkgrey-background;
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            z-index: -1;
            
        }
    }
}
picture {
    &.section {      
        &.right {
            img {
                position: absolute;
                right: 50px;
                bottom: 0;
                max-width: 100%;
                max-width: calc(100% - 100px);

                @media screen and (max-width: $large) {
                    position: relative;
                    right: inherit;
                    left: 0px;
                    max-width: 100%;
                }
                @media screen and (max-width: $medium) {

                }
            }
            &.bottom {
                img {
                    bottom: 50px;

                    @media screen and (max-width: $large) {
                        bottom: 0;    
                    }
                }
            }
        }
        img {
            max-width: 500px;   
        }   
    }
}
img {
    &.shadow {
        box-shadow: 0 2px 17px 0 rgba(0,0,0,0.30);
    }
}
.single-review {
    padding: 0 0 25px 0;
    
    @media screen and (max-width: 600px) {
        overflow: hidden;    
    }
    
    img {
        width: 150px;
        height: auto;
        border-radius: 12px;
        display: inline-block;
        float: left;
        margin-bottom: 25px;
        
        @media screen and (max-width: 410px) {
            display: block;
            float: inherit;
            margin: 0 auto 25px auto;
        }
    }
    .content {
        padding-left: 200px;
        

        @media screen and (max-width: 600px) {
            padding-left: 0px;
            width: 100%;
            float: left;
        }
        @media screen and (max-width: 410px) {
            text-align: center;    
        }
        
        h3 {
            font-style: italic;
            
        }
        p {
            margin-top: 15px;
        }
    }
}
.box-services {
    margin-left: -25px;
    margin-right: -25px;
    
    .col-md-6 {
        &:last-of-type {
            .box-service {
                @media screen and (max-width: $large) {
                    margin-bottom: 0px;
                }
            }
        }
    }
    
    .box-service {
        background-color: white;
        padding: 35px;
        margin: 0 25px;
        transition: ease .4s all;
        box-shadow: 0 2px 35px 0 rgba(0, 0, 0, 0.1);
        border-radius: 13px;
        
        @media screen and (max-width: $large) {
            margin-bottom: 50px;
        }

        @media screen and (min-width: $large-min) {
          
        }
        
        &:hover {
          @media screen and (min-width: $large-min) {
            box-shadow: 0 0 17px 0 rgba(0,0,0,0.08);
            margin-top: -5px;
            transition: ease .4s all;
          }
            
        }
        
        p {
            &.big {
                font-size: 18px;
                margin-bottom: 3px;
                
            }
        }
        h4 {
            font-weight: 300;
        }
      
    }
}
#counters {
    
    &.padding-md {
        @media screen and (max-width: $large) {
            padding: 30px 15px !important;
        }   
    }
    
    .statistic {
        span {
            display: block;
            font-size: 48px;
            line-height: 50px;
            font-family: $primary-font;
            font-weight: 500;
        }
        h3 {
            font-size: 14px;
            line-height: 20px;
            color: $paragraph-color;
            font-family: $primary-font;
            font-weight: 300;
            margin-bottom: 36px;
            text-transform: uppercase;
        }
        i {
            &.service {
                &.left {
                    font-size: 50px;
                    line-height: 50px;
                }
            }
        }
    }
    .col-sm-6, .col-sm-4 {
        @media screen and (max-width:$medium) {
            margin-bottom: 50px;
            
            &:last-of-type {
                margin-bottom: 0px;
            }
        }
    }
}
#pricing {
    margin-left: 25px;
    margin-right: 25px;
    
    .price {
        background-color: white;
        text-align: center;
        padding: 36px;
        border-radius: 2px;
        margin-top: 0;
        margin-left: 25px;
        margin-right: 25px;
        transition: all .4s ease;
        
        &:hover {
            margin-top: -5px;
            transition: all .4s ease;
        }
        
        .price-title {
            font-size: 22px;
            line-height: 32px;
            color: $primary-color;
            font-family: $primary-font;
            font-weight: 400;
            margin-bottom: 36px;
        }
        .price-number {
            font-size: 48px;
            line-height: 50px;
            color: $primary-color;
            font-family: $primary-font;
            font-weight: 300;
            margin-bottom: 10px;
        }
        .price-rate {
            font-size: 14px;
            line-height: 20px;
            color: $paragraph-color;
            font-family: $paragraph-font;
            font-weight: 300;
            margin-bottom: 36px;
            text-transform: uppercase;
        }
        ul {
            margin-bottom: 18px;
            
            li {
                font-family: $paragraph-font;
                font-size: 16px;
                line-height: 36px;
                font-weight: 300;
                color: $paragraph-color;
                
                b {
                    font-weight: 500;
                }
            }     
        }
        
        a {
            &.btn-alt {
                margin: 30px 0 0 0;
                background-color: white;
                border: 1px solid $secondary-color;
                color: $secondary-color;

                &:hover {
                    background-color: $secondary-color;
                    color: white;
                }
            }
        }
        
        &.active {
            box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.2);
            z-index: 1;
            
            .price-title, .price-number {
                color: $secondary-color;
            }
            
            a {
                &.btn-alt {
                    
                    &.small {
                        background-color: $secondary-color;
                        border-color: $primary-color;
                        // color: white;

                        &:hover {
                            background-color: white;
                            border-color: $secondary-color;
                            // color: $primary-color;
                        }   
                    }
                }
            }
        }
    }
    .col-md-4 {
        &:nth-child(1) {
            &.price {
                margin-right: -15px;
            }
        }
        &:nth-child(3) {
            &.price {
                margin-left: -15px;
            }
        }
    }
}
.mycolors {
    overflow: hidden;
    width: 100%;
    margin-top: 5px;
    
    span {
        &.mycolor {
            width: 20px;
            height: 20px;
            display: block;
            float: left;
            background-color: $secondary-color;
        }
    }
}
.single-person {
    padding-top: 75px;
    
    img {
        width: 90px;
        height: auto;
        border-radius: 50%;
        margin-bottom: 35px;
    }
}
.testimonials-carousel-simple {
    z-index: 3;

    .person {
        position: relative;
        display: block;
        float: left;

        img {
            border-radius: 50%;
            width: 65px !important;
            height: 65px;
            float: left;
        }

        .description {
            padding-left: 85px;

            em {
                display: block;
                padding-top: 14px;
                font-size: 16px;
                color: $primary-color;
                font-weight: 300;
            }
            span {
                font-size: 14px;
                color: $paragraph-color;
                font-weight: 300;
                font-style: normal;
            }
        }
    }
    blockquote {
        position: relative;
        display: block;
        float: left;
        color: $paragraph-color;
        background-color: transparent;
        border: none;
        margin: 0;
        padding: 0;
        font-family: $paragraph-font;
        font-size: 16px;
        line-height: 26px;
        font-weight: 300;
        font-style: italic;
        padding: 18px 0 0 0;
    }
    .owl-controls {
        margin-top: 50px;
    }
}
.testimonials-carousel-single {
    z-index: 3 !important;

    .text {
        padding: 0 50px;
    }
    .person {
        position: relative;
        display: block;
        float: left;

        .description {
            em {
                display: block;
                font-size: 20px;
                color: $secondary-color;
                font-weight: 300;
            }
            span {
                font-size: 14px;
                color: $primary-color-hover;
                font-weight: 300;
                font-style: normal;
                margin-top: 6px;
                display: block;
            }
        }
    }
    blockquote {
        position: relative;
        display: block;
        float: left;
        color: $paragraph-color;
        background-color: transparent;
        margin: 0;
        padding: 0;
        border: none;
        font-family: $paragraph-font;
        font-size: 16px;
        line-height: 26px;
        font-weight: 300;
        font-style: italic;
        padding: 18px 0 0 0;
    }
}
.map {
    width: 100%;
    height: 500px;
    overflow: hidden;
    
    #map {
        height: 100%;
        width: 100%;
    }
}
.services-simple {
    padding: 50px 35px 14px 35px;
    
    .service {
        p {
            margin-bottom: 36px;
        }
    }
}
.services-box {
    padding: 0 25px 50px 25px;
    
    @media screen and (max-width: $large) {
        padding: 0 25px;
    }
    
    .col-md-6, .col-md-4, .col-md-3  {
        padding-left: 25px;
        padding-right: 25px;
    }
    .alt-services {
        padding: 50px;
        border-radius: 2px;
        box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.2);
        transition: margin-top .4s ease;

        @media screen and (max-width: $large) {
            margin-bottom: 50px;
        }
        
        &:hover {
            margin-top: -25px;
            transition: margin-top .4s ease;
            
            @media screen and (max-width: $large) {
                margin-top: 0;
            }
        }
    }   
}
table {
    width: 100%;
    margin: 0 0 25px 0;
    border-collapse: collapse;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
    border: 1px solid $darkgrey-background !important;
    font-family: $paragraph-font;
    font-weight: 300;

    th {
        background: $secondary-color;
        color: white;
        text-align: left;
        padding: 15px !important;
        border: 1px solid $darkgrey-background;
        font-family: $primary-font;
    }
    td {
        padding: 15px !important;
        border: 1px solid $darkgrey-background;
    }
}
.alert {
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;
    border:none;
    background-image: none;
    font-family: $primary-font;
    letter-spacing: 1px;
    font-size: 14px;

    &.alert-success {
        border: 2px solid #dff0d8;
        background-color: transparent;
        color: $primary-color;
    }
    &.alert-info {
        border: 2px solid $secondary-color;
        background-color: transparent;
        color: $primary-color;
    }
    &.alert-warning {
        border: 2px solid #fcf8e3;
        background-color: transparent;
        color: $primary-color;
    }
    &.alert-danger {
        border: 2px solid #f2dede;
        background-color: transparent;
        color: $primary-color;
    }
    .close {
        font-family: $primary-font;
        font-size: 30px;
        font-weight: 300;
        top:-4px;
        color: $primary-color;
        opacity: .8;
        &:hover {
            opacity: .2;
        }
    }
}
#skills {
    margin-left: -25px;
    margin-right: -25px;
    
    ul.skill-list {
        padding-left: 0;
        padding: 0 25px;

        em {
            color: $paragraph-color;
            font-family: $secondary-font;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0;
            margin-bottom: 9px;
            font-weight: 300;
            display: block;
        }
        li {
            border-bottom: 8px solid $grey-background;
            position: relative;
            color: $primary-color;
            font-size: 18px;
            line-height: 20px;
            font-family: $secondary-font;
            letter-spacing: 1px;
            list-style: none;
            margin-bottom: 25px;
            border-radius: 8px;

            span {
                &.border-color{
                    height: 8px;
                    width:0;
                    position: absolute;
                    background: $secondary-color;
                    background-color: $secondary-color;
                    bottom:-8px;
                    left:0;
                    border-radius: 8px;
                }
            }

            span {
                &.label {
                    position: absolute;
                    right: 0;
                    top: -32px;
                    padding: 3px 3px 3px 5px;
                    width: 45px;
                    text-align: right;
                    font-weight: 300;
                }
            }
        }
    }
    &.white {
        ul.skill-list {
            li {
                border-bottom: 8px solid rgba(255, 255, 255, 0.2);

                span {
                    &.border-color{
                        background-color: white;
                    }
                    &.label {
                        background-color: white;
                        color: $secondary-color;
                    }
                }
            }
        }
    }
}
.image-carousel {
    .owl-controls {
        position: absolute !important;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        
        img {
            transition: all .4s ease .4s; 
        }
        
        .owl-nav {
            @include vertical-align(absolute);
            left: 0;
            right: 0;
            
            .owl-prev, .owl-next {
                width: 50%;
                float: left;
                
                &:hover {
                    
                    span {
                        background-color: $dark-background; 
                        transition: all .4s ease;
                    }
                }
                
                span {
                    height: 40px;
                    width: 40px;
                    background-color: $secondary-color;
                    color: white; 
                    display: block;
                    border-radius: 0 4px 4px 0;
                    text-align: center;
                    transition: all .4s ease;
                }
                i {
                    font-size: 30px;
                    line-height: 40px;
                }
            }
            .owl-next {
                
                span {
                    float: right;
                    border-radius: 4px 0 0 4px;
                }
            }
        }
        .owl-dots {
            position: absolute !important;
            bottom: 15px;
            left: 0;
            right: 0;
            
            .owl-dot {
                span {
                    background-color: transparent;
                }
            }
        }
    }
    &.not-nav {
        .owl-controls {
            .owl-nav {
                display: none;
            }
        }
    }
    &.dots-outside {
        .owl-controls {
            position: relative!important;
            top: inherit;
            bottom: inherit;
            left: inherit;
            right: inherit;
            margin-top: 60px;
            
            .owl-dots {
                bottom: 0;
            }
        }
    }
    &.dark-dots {
        .owl-controls {
            .owl-dots {
                .owl-dot {
                    span {
                        background-color: $primary-color;
                        
                        &.active {
                            background-color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}
.simple-parallax {
    background-attachment: fixed;
}
.service-content, .statistic-content {
    padding-left: 100px;
    
    &.large {
        padding-left: 65px;
        z-index: 1;
        position: relative;
    }
    &.medium {
        padding-left: 50px;
        z-index: 1;
        position: relative;
    }
}
em {
    &.number {
        font-size: 80px;
        line-height: 80px;
        font-family: $primary-font;
        font-weight: 600;
        color: $paragraph-color-light;
        float: left;
        position: absolute;
        z-index: 0;
    }
}
.grid-images {
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 30px;

    .padding-sm {
        padding: 30px 0 !important;
    }
    .padding-onlytop-sm {
        padding-top: 30px !important;

        @media screen and (max-width:$large) {
            padding-top: 0 !important;
        }
    }
    .image {
        @include background-cover;
        position: relative;
        height: 271px;
        opacity: 1;
        transition: opacity .4s ease;

        @media screen and (max-width:$large) {
            margin-bottom: 30px;
        }

        > .lightbox-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;

            &:focus {
                outline: none;
            }
        }
        &:hover {
            opacity: .8;
            transition: opacity .4s ease;
        }
    }
}
ul {
    &.timeline {
        position: relative;
        padding-top: 18px;
        
        @media screen and (max-width: $medium) {
            padding-top: 0;
            padding-bottom: 36px;
        }
        
        &:before {
            content: "";
            position: absolute;
            top:0;
            left: 50%;
            bottom: 0;
            width: 2px;
            background-color: $grey-background;
        }
        li {
            margin-bottom: 50px;
            position: relative;
            overflow: hidden;
            
            &:last-child {
                margin-bottom: 0px;
            }
            
            @media screen and (max-width: $medium) {
                display: flex;
                flex-direction: column;
            }
            
            &:hover {
                .timeline-badge {
                    width: 15px;
                    height: 15px;
                    box-shadow: 0 0px 30px 0 rgba(0, 0, 0, 0.2);
                    border: none;
                    margin-left: -6px;
                    top: 39px;
                    transition: all .4s ease;
                }
                .title {
                    padding-left: 35px;
                    transition: all .4s ease;
                    
                    @media screen and (max-width: $medium) {
                        padding-left: 0px;
                    }
                    
                    h3 {
                        color: $primary-color;
                        transition: color .4s ease;
                    }
                    p {
                        color: $secondary-color !important;
                        transition: color .4s ease;
                    }
                }
            }
            
            .content {
                float: left;
                width: 50%;
                padding-top: 18px;
                padding-right: 50px;
                padding-left: 50px;
                text-align: right;
                
                @media screen and (max-width: $medium) {
                    width: 100%;
                    padding-top: 0px;
                    text-align: center;
                    order: 2;
                    background-color: #fff;
                }
                
                p {
                    @media screen and (max-width: $medium) {
                        margin-bottom: 0 !important;
                    }
                }
            }
            .title {
                display: inline-block;
                padding: 18px 0px 18px 50px;
                transition: all .4s ease;
                width: 50%;
                
                @media screen and (max-width: $medium) {
                    width: 100%;
                    padding: 0;
                    margin: 75px 0px 18px 0px;
                    order: 1;
                    text-align: center;
                    background-color: #fff;
                }
                
                span {
                    display: block;
                    color: $secondary-color;
                    font-size: 14px;
                    line-height: 24px;
                    font-weight: 300;
                }
            }
            .timeline-badge {
                width: 20px;
                height: 20px;
                position: absolute;
                border-radius: 50%;
                margin-left: -9px;
                left: 50%;
                top: 36px;
                background-color: $secondary-color;
                display: block;
                border: 5px solid white;
                transition: all .4s ease;
            }
            
            &:nth-child(odd) {
                .content {
                    float: right;
                    padding-left: 50px;
                    text-align: left;
                    
                    @media screen and (max-width: $medium) {
                        text-align: center;
                    }
                    
                    p {
                        @media screen and (max-width: $medium) {
                            margin-bottom: 0;    
                        }
                    }
                }
                .title {
                    padding: 18px 50px 18px 0px;
                    text-align: right;
                    width: 50%;
                    
                    @media screen and (max-width: $medium) {
                        width: 100%;
                        padding: 0;
                        margin: 75px 0px 18px 0px;
                        order: 1;
                        text-align: center;
                        background-color: #fff;
                    }
                    
                    p {
                        &.heading {
                            margin: 0 0 0 auto;
                            transition: color .4s ease;
                        }
                    }
                }
                &:hover {
                    .title {
                        padding-right: 35px;
                        transition: all .4s ease;
                        
                        @media screen and (max-width: $medium) {
                            padding-right: 0px;
                        }
                    }
                }
            }
        }
    }
}
#newsletter-form {
    form {
        width:100%;

        .form-input {
            width:100%;
            max-width: 370px;
            position: relative;
            margin: 0 auto;

            input {
                outline: inherit;
                border:none;
                width:100%;
                max-width: 370px;
                margin-bottom: 50px;
                padding: 10px;
                font-family: $paragraph-font;
                font-size: 14px;
                line-height: 14px;
                color: $primary-color;
                border-bottom: 1px solid rgba(117,117,117,0.41);
                font-weight: 300;
                padding-right: 90px;

                @media screen and (max-width:$large) {
                    width: 100%;
                }

                &:focus {
                    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
                    border-color: transparent;
                    border-radius: 4px;
                }
            }
            ::-webkit-input-placeholder {
                font-family: $secondary-font;
                color: $primary-color-hover;
                font-size: 14px;
                font-weight: 300;
            }

            :-moz-placeholder { 
                font-family: $secondary-font;
                color: $primary-color-hover;
                font-size: 14px;
                font-weight: 300;
            }

            ::-moz-placeholder { 
                font-family: $secondary-font;
                color: $primary-color-hover;
                font-size: 14px;
                font-weight: 300;
            }

            :-ms-input-placeholder {  
                font-family: $secondary-font;
                color: $primary-color-hover;
                font-size: 14px;
                font-weight: 300;
            }
            span.form-button {
                position: absolute;
                width: 90px;
                height: 36px;
                right: 0;
                top:0px;
                font-size: 14px;
                font-weight: 400;
                font-family: $secondary-font;
                text-transform: uppercase;
                line-height: 33px;
                color: $secondary-color;
                background-color: transparent;
                text-align: center;
                transition: all .4s ease;
                border-radius: 0 2px 2px 0;

                &:hover {
                    background-color: white;
                    color: $secondary-color;
                    border-radius: 0 2px 2px 0;
                    transition: all .4s ease;
                }
                
                button {
                    text-transform: uppercase;
                }
            }
        }
    }
}
#modaal, #modaalImage, #modaalContent {
    display: none;
}
.modaal-container {
    border-radius: 2px !important;
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.2) !important;
}
.modaal-inner-wrapper {
    padding: 80px 50px !important;
}
.modaal-close {
    @media screen and (max-width: $full) {
        right: 0 !important;
    }
} 
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@import 'main';
@import 'magnificpopup';
@import 'owl';
@import 'animations';
